.rootModel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 3%);
    grid-template-areas: "header header"
                         "headPhotoContent headPhotoContent"
                         "textHeaderContent textHeaderContent"
                         "mainPhotoContent mainPhotoContent"
                         "textPrice textPrice"
                         "priceContent priceContent"
                         "blockСontacts blockСontacts"
                         "footerPhotoContent footerPhotoContent"
                         "aboutMe aboutMe"
                         "footerArea footerArea";

    font-family: "Comfortaa", "PT Sans Caption", sans-serif;
    grid-gap: 0;
    width: 100%;
}

.header{
    grid-area: header;
}

.headPhotoContent{
    grid-area: headPhotoContent;
}
.textHeaderContent {
    grid-area: textHeaderContent;
}
.mainPhotoContent{
    grid-area: mainPhotoContent;
}
.textPrice{
    grid-area: textPrice;
}
.priceContent{
    grid-area: priceContent;
}
.blockСontacts{
    grid-area: blockСontacts;
}
.footerPhotoContent{
    grid-area: footerPhotoContent;
}
.footerArea{
    grid-area: footerArea;
}
.aboutMe{
    grid-area: aboutMe;
}
