.contentWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.contentWrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 4%;
}

.phone:hover{
    opacity: 0;
    display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .contentWrapper > div {
        font-size: 8pt;
    }
}
